@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}
.backgroundImage1 {
  background-image: url('/friends-laughing-using-mobiles 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.backgroundImage1 {
  background-image: url('/Group\ 10\ \(1\).png');
  background-size: cover;
  width: 50%;
  height: 100%;
  background-position: contain;
  background-repeat: no-repeat;
}
.backgroundImage2 {
  background-image: url('/Group\ 16\ \(1\).png');
  background-size: contain;
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* top: 2rem; */
}

